<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 mt-5">
      <h3>What language are you learning?</h1>
        <form action='/settingssecond' method="get">
          <%= radio_button_tag 'language', 'spanish', checked = current_user.language == 'spanish' %>
          <!-- <input type="radio" id="spanish" name="language" value="spanish"> -->
          <label for="language_spanish">Spanish</label><br>
          <%= radio_button_tag 'language', 'english', checked = current_user.language == 'english' %>
          <label for="language_english">English</label><br>
          <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
  </div>
</div>
