<br>
<h1>The English translation for <strong><%= @word.word %></strong>  is <strong><%= @word.translation %></strong></h1>
<h2>Select 3 photos to be used for your flashcards</h2>
<hr>


<%= @word.image_urls.each do |image| %>

  <%= image_tag(image.concat("&w=150&h=150"), class: "buzz") %>
<% end %>
  <hr>
