      <!-- <p>The answer is <span style="color: green;">"<%= @word.translation %>"</span></p> -->

          <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->

                    <!-- <input type="hidden" name="flashcards[photo]" value=<%= @photo %> > -->
