.navbar-lewagon {
  justify-content: space-between;
  // background: #235490;
  background: #7BC805;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-nav {
  font-family: 'passion one';
  font-weight: 400;
  color: white;
  font-size: 26px;
  letter-spacing: 1.1px;
}

.email-button[aria-expanded="true"]
  { border: none;
    background-color: #7bc807 !important;
   }


.email-button, .email-button:hover , .email-button:active, .email-button:focus {
  background-color: #7bc807;
  border: none;
  color: white;
  margin: 0px;
  outline: none;
}

// button.open { background: red !important; }

.nav-items {
  padding: 0px 12px;
}

