.navbar-lewagon {
  justify-content: space-between;
  // background: #235490;
  background: #7BC805;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-nav {
  font-family: 'passion one';
  font-weight: 400;
  color: white;
  font-size: 26px;
  letter-spacing: .8px;
}
